<h1>Astronauts</h1>

<% @astronauts.each do |astronaut| %>
  <h2><%= astronaut.name %></h2>
  <ul>
    <li>Age: <%= astronaut.age %></li>
    <li>Job: <%= astronaut.job %></li>
    <li>Missions: <%= astronaut.missions.alphabetical_titles.join(", ") %></li>
    <li>Total Time in Space: <%= astronaut.time_in_space %></li>
  </ul>
<% end %>

<p>Average Age: <%= @astronauts.average_age %></p>
